{% extends 'project/base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
<!--<div class = "container">
<div class="hstack gap-3">
  <input class="form-control me-auto" type="text" placeholder="Add your Models here" aria-label="Add your Models here">
  <button type="button" class="btn btn-primary">Submit</button>
  <div class="vr"></div>
  <button type="button" class="btn btn-outline-danger">Reset</button>
</div>
</div> -->
<div class = "container">
    <fieldset class="form-group">
          <legend class="border-bottom mb-4" style="color: white;">Home</legend>
          {{ form|crispy }}
      </fieldset>
    <div class="card">
        <div class="card-header">
            DBDA-Project
        </div>
        <div class="card-body">
            <h5 class="card-title">Welcome to the website</h5>
            <p class="card-text">This website is about comparing Metadata of different models.</p>
            <a href="https://en.wikipedia.org/wiki/Metadata#:~:text=Metadata%20is%20%22data%20that%20provides,used%20for%20discovery%20and%20identification" class="btn btn-primary">Discover more</a>
        </div>
    </div>
</div>
</div>
<br>
<center>
<div class = "container">
<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="{% static 'images/metadata.png' %}" alt="Card image cap">
    <h5 class="card-title">Introduction to Metadata</h5>
  <div class="card-body">
    <p class="card-text">The metadata model is a business presentation of the information provided by the ATG data warehouse. The model is used by business users and report creators, rather than working directly with the database.</p>
  </div>
</div>
</center>
</div>

<!-- <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card with stretched link</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
  </div>
</div>
</div> -->

{% endblock content %}

<!--
<div class = "container">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Introduction to Metadata</h5>
    <p class="card-text"></p>
    <a href="https://docs.oracle.com/cd/E23507_01/ACI.20073/ACIDataWarehouse/html/s0106introductiontothemetadatamodel01.html" class="btn btn-secondary">More</a>
  </div>
</div>
</div> -->
