{% extends 'project/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
<div class = 'container'>
    <h2>{% block title %} Profile {% endblock %}</h2>
</div>
<br>
    <div class = 'container'>
        <div class="hstack gap-3">
  <h5>First Name: </h5><div class="bg-light border">{{user.first_name}}</div><br>
  <h5>Last Name: </h5><div class="bg-light border ms-auto">{{user.last_name}}</div><br>
  <div class="vr"></div>
  <h5>Username: </h5><div class="bg-light border">{{user.username}}</div><br>
  <h5>Email: </h5><div class="bg-light border">{{user.email}}</div>
</div>
</div>

{% else %}
<p>Login to view your details</p>
{% endif %}
{% endblock %}